#category, #footer{
    width: 100%;
    z-index:0; 
    -webkit-transform: translateZ( 0 );
    transform: translateZ( 0 );
    -webkit-transition: -webkit-transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.cakes__header{
    position: fixed;
    top: 0px;
    z-index: 10;
    width: 100%;
    animation: 0.5s ease 0s 1 normal none running slide-down;
    background-color: var(--primary-color);
}
.cakes__header--content{
    display: flex;

}
.cakes__header--content__image{
    padding: 0 10px 0 10px;
    margin: 0 auto;
    width: 100px;

}
.image__logo{
    width: 65px;
    object-fit: cover;
    opacity: 1;
    margin-left: 20px;
    margin: 10px;
}
.cakes__header--content__body{
    margin: auto;
}
.cakes__header--content__category{
    padding: 0 20px 0 20px;
    flex:1;
    display: flex;
    margin: auto;
    font-weight: bold;
    font-size: 20px ;
    margin-right: 100px;
    color: rgb(255, 251, 251);
}
.cakes__header--content__category a:hover{
    color: #4c4c4c;
}
.cakes__header--link{
    padding: 10px;
    margin-left: 20px;
    

}

.footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #4c4c4c;
    color: white;
}
.footer__container{
    margin: 0 30px;
    margin-top: 30px;
}
.footer__content{
    margin: 0 30px;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;

}
.footer__content--body{
    flex: 1;
    margin: 10px 10px;

}
.footer__content--title{
    font-size: 23px;
    font-weight: bold;
    margin-bottom: 20px;
    

}
.vertical{
    width: 100%;

    border: 1px solid #000;


}
.footer__detail{
    text-align: center;
    padding: 20px;

}

.grid {
    width: 100%;
    display: block;
}

.grid.wide {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
@media (min-width: 576px) {
    .wide {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .wide {
        max-width: 720px;
    }
}
@media (min-width: 992px) {
    .wide {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .wide {
        max-width: 1200px;
    }
}

.header-login{
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 2rem;
    justify-content: center;
    align-items: center;
    margin: 0 2rem 0 0;
}
.header-user-name{
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    font-size: clamp(0.8rem, 4vw, 1.3rem);
}
.header-login a{
    color: rgb(184, 18, 82);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    font-size: clamp(0.8rem, 4vw, 1.2rem);
    font-weight: 600;
    padding:  0.2rem 1rem;
    border-radius: 0.5rem;
    border: none;
    background-color: rgb(255, 255, 255) !important;
}
.header-login button{
    color: rgb(184, 18, 82);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    font-size: clamp(0.8rem, 4vw, 1.2rem);
    font-weight: 600;
    padding:  0.2rem 1rem 0.2rem 0.8rem;
    border-radius: 0.5rem;
    border: none;
    background-color: rgb(255, 255, 255) !important;
}