.cake-description {
    font-size: 0.9rem;
    min-height: 48px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}

/* Nút chọn kích thước */
.button-size {
  width: 2rem;
  height: 2rem;
  font-size: 0.9rem;
  font-weight: 600;
  background-color: transparent !important;
  border: 2px solid var(--primary-color) !important;
  color: var(--primary-color);
  border-radius: 8px;
  transition: all 0.25s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.button-size:hover {
  background-color: rgba(0, 123, 255, 0.1) !important;
}

.button-size.active {
  background-color: var(--primary-color) !important;
  color: #fff !important;
  border-color: var(--primary-color) !important;
  box-shadow: 0 4px 12px rgba(0, 123, 255, 0.1);
}


/* Nhóm số lượng */
.quantity-group {
  max-width: 50%;
  border: 2px solid var(--primary-color) !important;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  justify-content: space-around;
  transition: all 0.25s ease-in-out;
}

/* Input giữa */
.quantity-input {
  font-weight: 600;
  font-size: 1rem;
  border: none !important;
  box-shadow: none !important;
  text-align: center;
}

.quantity-input:focus {
  outline: none;
  box-shadow: none;
}

/* Nút tăng giảm */
.quantity-btn {
  background-color: transparent !important;
  color: var(--primary-color);
  border: none !important;
  font-size: 1.2rem;
  font-weight: bold;
  width: 1.6rem;
  height: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.25s ease-in-out;
  cursor: pointer;
}

.quantity-btn:hover:not(:disabled) {
  background-color: rgba(0, 123, 255, 0.1) !important;
}

.quantity-btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.button-add-cart{
    color:#fff;
    padding: 0.4rem 0.2rem;
    border: none;
    border-radius: 0.4rem;
}